
  .container::after{
    content:'';
    
  }
  .left {
    width: 100px;
    height: 100px;
    background: red;
    float: left;
  }
  
  .right {
    width: 100px;
    height: 100px;
    background: blue;
    float: right;
  }