/* reset margin,padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {

    height: 864px;
    padding: 20px;
    background: url('./banner.jpg') center center no-repeat;
}

.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}


a.about,
a.Signin {

    margin-top: 20px;
    display: inline-block;
    padding: 7px;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.content-center {
    text-align: center;
    border: 1px solid yellow;
}

.Signin {
    margin-right: 60px;
    border-radius: 20px;
    border: 3px solid green;
}

.logo {
    background: url(./hapoERP.png) center center no-repeat;
    height: 100px;
    margin-top: 40px;
}

.text {
    text-align: center;
    border: 1px solid red;
}

.bth-all {
    text-align: center;
}

button {
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid green;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
    text-decoration: none;
}

.left,
.center,
.right {
    display: inline-block;
    width: 33%;
    text-align: center;
}

span {
    display: block;
    font-size: 30px;
}

img {
    height: 30px;
    width: 30px;
}